
/*global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1{
  line-height: 1;
  font-size: 100px;
  color: white;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap{
	 max-width: 800px;
     width: 85%;
     margin: 0 auto;
     padding: 30px 0;
}

/*nav bar styles
------------------------------------*/

nav ul li{
	position: sticky;
	top: 3px;
	font-size: 20px;
  padding: 2px 8px 2px;
}

/*Home styles
------------------------------------*/
#Home{
  background: #2F3061;
  color: #F7FFF7;
}
.content-wrap img{
  padding-top: 0px;
  margin-top: 0px;
  height: 225px;
}


/*About styles
------------------------------------*/
#About{
  background: #F7FFF7;
}


/*Education
-----------------------------------------*/
#Education{
   background: rgb(247, 183, 5);
  background-size: cover;
  background-position: top right;
  padding-bottom: 0px;
}
.education-item{
  border-bottom: 1px dashed black;
  /*padding-bottom: 10px;*/
  padding-top: 20px;
  width: 80%;
}
.divider{
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.education-item ul li a{
  color: rgb(240, 101, 235);
}
.education-item ul li a:hover{
  color: rgba(240, 101, 235,1);
}


/*skills
--------------------------------------*/
#Skills{
  background-color:rgb(242, 213, 241);
}


/*Hobbies
--------------------------------------*/
#Hobbies{
  background-color:#17a2b8;
}

/*Project
--------------------------------------*/
#Projects{
  background-color:lightgrey;
}


/*contact details
--------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;

}
.contact-list a {
  padding: 15px;
  display: inline-block;
  flex:1 1 100px;
}

